.ops-tag {
    .ops-card-form {
        .ops-component {
            padding: 16px;
        }
    }

    .ops-connector {
        .ant-radio-group {
            vertical-align: middle;
            text-align: center;

            .input-connect {
                width: 70px;
                height: 28px;
                line-height: 28px;
                border-radius: 4px;
                margin-bottom: 8px;
            }
        }
    }

    .ops {
        &-tag {
            &-empty {
                padding-top: 25%;
                text-align: center;
                line-height: 36px;
            }

            &-action {
                .ant-row {
                    border: none !important;

                    .ant-col {
                        padding-left: 2px;
                        padding-right: 2px;
                    }
                }
            }
        }

        &-submit {
            text-align: right;

            button {
                margin-left: 8px;
                min-width: 80px;
            }
        }
    }
}