.ops-tag-table {
    .ant-row {
        border: none !important;
    }

    .cat-row {
        padding: 8px;
        margin-bottom: 6px;

        .empty {
            padding-top: 10%;
        }
    }
}

.ops-tag-category {

    .range {
        padding: 0 3px;
    }

    .report {
        min-height: 180px;

        .empty {
            padding-top: 3%;
        }
    }

    .tree {
        .ops-search {
            padding: 0 6px;
            margin: 3px 0;
        }

        padding: 0 3px;

        .ant-tree-node-content-wrapper {
            width: 90%;
            padding-right: 0;
        }

        .ant-tree-treenode-switcher-open {

            padding: 0 !important;

            .ant-tree-child-tree {
                .ant-tree-title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    font-size: 13px;
                }

                padding-left: 16px;

                li {
                    padding-top: 0;
                    width: 100%;
                    list-style: none;
                }
            }
        }

        .ops-node {
            margin-right: 0;

            .action {
                display: none;

                .ant-btn-icon-only {
                    line-height: 22px;
                }
            }

            &-disabled {
                a {
                    color: #c5c5c5;
                }
            }

            &-action {

                .ant-input {
                    padding: 0;
                    line-height: 14px;
                }

                input {
                    height: 24px;
                    line-height: 24px;
                }

                .ant-btn-icon-only {
                    line-height: 22px;
                }
            }
        }

        .ant-tree-node-selected {
            color: white !important;

            span {
                color: white !important;
            }

            .ops-node {
                width: 100%;
                margin-right: 0;

                .action {
                    float: right;
                    display: inline-block;
                }
            }

        }
    }
}

.ops-form-small {
    .ant-form-item {
        height: 28px !important;
        min-height: 28px !important;
    }

    .ant-row {
        .ant-form-item;
        border-bottom: dashed 1px #E9E9E9;
        font-size: 13px !important;

        .ant-form-item-control, .ant-form-item-label {
            height: 28px !important;
        }
    }
}