.ux-item {
    i {
        margin-left: 10px;
    }
}

.ux-item-active {
    color: #49b1f5;
    font-weight: 900;
}

.ux-item:hover {
    font-weight: 900;
    cursor: pointer;
}

.web-table-editor-op {
    min-width: 64px !important;
}
