@import "../../../global";

.zui-sider {
    .logo {
        background-color: #001528 !important;

        @media (min-width: @screen-xl) and (max-width: @screen-xxl) {
            img {
                height: 46px !important;
                width: 172px !important;
                margin-left: 3px !important;
                display: block;
                float: left;
            }
        }

        @media (min-width: @screen-xxl) {
            img {
                height: 54px !important;
                width: 206px !important;
                margin-left: 6px !important;
                display: block;
                float: left;
            }
        }
    }

    .ant-menu-item {
        .icon-svg {
            padding-right: 0px !important;

            svg {
                line-height: 24px;
            }
        }
    }
}