#main h1 {
    font-size: 28px !important;
    font-weight: bold !important;
}

#main h2 {
    font-size: 24px !important;
    font-weight: bold !important;
}

#main .summary h2 {
    font-size: 22px !important;
    font-weight: normal !important;
}

#main h2 code {
    color: #ff8626;
    font-size: 21px !important;
}

#main h3 {
    color: #1874CD;
    font-size: 20px !important;
    font-weight: bold !important;
}

#main h4 {
    font-size: 18px !important;
    font-weight: bold;
    line-height: 2.7em;
}

#main .subsection-title {
    color: #2f617f;
    font-family: Consolas, monospace;
    font-size: 25px !important;
}

#main {
    font-family: Consolas, monospace;
    font-size: 14px !important;
}

#main blockquote {
    color: #1464b4;
}

table td {
    line-height: 1.8em;
}