.uhx {
  &_HxAction {
    .hx-bpmn {
      text-align: center;
      padding: 16px;
      width: 100%;

      .bjs-powered-by {
        visibility: hidden !important;
      }

      .bjs-container {
        float: left;
      }
    }

    .hx-head {
      .summary {
        margin-bottom: 3px;
      }

      .ant-row {
        min-height: 36px;
        line-height: 36px;

        .title {
          text-align: right;
          font-weight: bold;
        }
      }
    }
  }
}