
.ex-portal {
    .row {
        margin-top: 8px;
        height: 36px;
        line-height: 36px;
        margin-bottom: 8px;

        .title {
            padding-left: 12px;
            padding-right: 12px;
            color: white;
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        .content {
            padding-left: 16px;

            .link {
                margin-right: 16px;
                margin-left: 16px;
                color: #0093ed;

                &:hover {
                    font-weight: 900;
                    color: #eb2f96;
                }
            }
        }
    }
}