@import "~style/uca/index.scss";

.ux {
  &_title {
    width: 100%;
    font-size: 16px;
    color: white;
    padding-left: 6px;
    @media screen and (min-width: $screen-xl) {
      @include attr_height_title(32px, 2px);
    }
    @media screen and (min-width: $screen-xxl) {
      @include attr_height_title(36px, 4px);
    }
    @include attr_gradient_l($uni_color, 100%);
  }

  &_icon {
    &_label {

      .label {
        margin-left: $uni_font * 0.6;
      }
    }

    &_item {
      label {
        margin-left: $uni_font * 0.6;
      }
    }
  }

  &_subject {
    width: 100%;
    font-size: 16px;
    color: white;
    padding-left: 6px;
    @media screen and (min-width: $screen-xl) {
      @include attr_height_title(32px, 2px);
    }
    @media screen and (min-width: $screen-xxl) {
      @include attr_height_title(36px, 4px);
    }
    @include attr_gradient_r($uni_color, 60%);

    img {
      position: absolute;
      float: left;
      width: 52px;
      height: 52px;
    }

    &_tip {
      float: left;
      margin-top: 6px;
      margin-left: 64px;
      padding-left: 16px;
      line-height: 36px;
      border-left: 8px solid $uni_color;
      border-bottom: 1px solid $uni_color;
      color: black;
      font-size: 15px;
      width: 45%;
    }

    &_name {
      display: inline-block;
      color: #c8c8c8;
      font-size: 12px;
    }
  }
}