@use "sass:math";
@import "~style/macrocosm/index.scss";

.ux {
  &_tab {
    &_title {
      &_icon {
        i {
          color: $uni_color;
          font-size: 18px;
        }
      }
    }

    // 新结构
    .ant-tabs-content-holder {
      .ant-tabs-content {
        &-left {
          .ant-tabs-tabpane {
            padding-left: $uni_font * 0.4;
            padding-top: 0;
          }
        }

        &-right {
          .ant-tabs-tabpane {
            padding-right: $uni_font * 0.4;
            padding-top: 0;
          }
        }
      }
    }

    // List页面
    .ant-tabs-nav {
      margin-bottom: $uni_font * 0.3;
    }

    // Ant直接修正（原ex-tabs）
    &_block {
      // 覆盖写法，禁用 !important的写法，.ant-tabs-left = ux_tab_block
      > .ant-tabs-nav .ant-tabs-tab {
        margin-top: $uni_font * 0.25;
        padding: $uni_font * 0.2 $uni_font * 1.2;

        & + .ant-tabs-tab {
          margin-top: $uni_font * 0.38;
        }
      }

      .ant-tabs-tab {
        margin-bottom: 2px;

        &-active {
          background-color: $uni_color;
          color: white;

          .ux_block {
            color: white;
          }

          &:hover {
            color: $color_focus_yellow;

            .ux_block {
              color: $color_focus_yellow;
            }
          }
        }
      }
    }
  }
}