@import "~style/macrocosm/index.scss";

.ux {
  &_error {

    width: 98%;
    height: 100%;
    color: $color_failure;
    padding: 1%;
    margin: 10px;
    background-color: #fdf2f4;
    border: solid 1px $color_failure;
    border-radius: 5px;
    min-height: 200px;

    &_input {
      padding-left: 5%;
      color: $color_failure;
      border: solid 1px $color_failure;
      background-color: #fdf2f4;
      line-height: $uni_font * 3;
      border-radius: $uni_radius;
    }

    &_page {
      padding-top: 10%;
      padding-left: 25%;
      padding-right: 25%;
    }

    &_purge {
      i {
        color: $color_failure;
      }

      .ant-modal-confirm-content {
        color: $color_failure_confirm;
      }
    }
  }
}