.ops-graph {
    &-empty {
        padding-top: 118px;
        min-height: 356px;
        width: 100%;

        .ant-empty-image {

            img {
                display: inline-block;
                width: 137px !important;
                height: 120px !important;
            }

            min-height: 120px;
            margin-bottom: 6px;
        }
    }

    &-container {
        width: 100%;
        overflow-y: auto;

        .graph-view {
            width: 100%;
            height: auto;
        }
    }
}