@import (less) "../macrocosm/index.less";

.ant-table {
  // 表格头
  &-thead > tr > th {
    white-space: nowrap;
  }

  // 表格行
  &-row td {
    white-space: nowrap;
  }

  // 固定
  &-fixed {
    &-left {
      z-index: 10;
    }
  }
}