@import "~style/index.scss";

.uex {
  &_ExEditorView {
    .ux_view_my {
      .label {
        line-height: $uni_font * 2.4;
      }
    }

    .content {
      padding: 3px;

      .v-list {
        margin-top: 3px;

        .ant-list-header {
          padding: 8px 12px;
          font-weight: bold;
          background-color: $uni_color;
          color: white;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
        }

        .checked-all {
          .ant-checkbox {
            border: solid 1px $uni_color;
          }

          .ant-checkbox-checked {
            border: solid 1px white;
            border-radius: 3px;
          }
        }
      }

      .v-list-item {
        height: 36px;
        line-height: 36px;
        padding-left: 12px;
      }

      .v-list-item:hover {
        background-color: #e7e8e8;
        cursor: pointer;
      }

      .v-list-right {
        padding-right: 12px;
        text-align: right;
      }

      .v-list-switch {
        text-align: right;
        padding-top: 6px;

        .ant-switch {
          background-color: $color_op_pink;
        }

        .ant-switch-checked {
          background-color: $uni_color;
        }
      }
    }
  }
}