.api-op {
    padding: 2px 0 2px 6px !important;
    text-align: left;
    height: 38px !important;
}

.api-tool {
    margin-bottom: 3px !important;
    margin-top: 3px !important;

    .check-group {
        padding-left: 6px;
        line-height: 32px;
    }
}

.api-menu {
    .ant-menu-item {
        margin: 2px 0 4px 0 !important;
        padding-left: 4px;
        padding-right: 4px;
        height: 32px;
        line-height: 32px;
    }
}

.api-content {
    padding-left: 6px;
}

.api-table {
    .ant-pagination {
        margin-top: 12px;
        margin-bottom: 8px;
    }
}