@import (less) "../connect/index.less";
// ---------------------------------- 色彩 --------------------------
@color-default: #4e5251;
@color-logo: #333;
@color-body: #ffffff;
@color-border: #bfbfbf;
// 个人空间
@color-profile: #55537e;
@color-password: #14b4a7;
@color-logout: #147fb4;
@color-button: #1464b4;

@color-title: #f0f0f0;
@color-room-bg: #eeeeee;
@color-highlight: #f50;
@color-error: #ff686b;
@color-highlight-hover: #f99;
// 纯色
@color-green: #33af43;
@color-blue: #0094d1;
@color-red: #ff3b1a;
@color-red-title: #CD2626;
@color-failure: red;
@color-failure-confirm: #cf3533;
@color-yellow: #ff8626;
// 登录/标记
@color-login-button: #0093ed;
@color-login-button1: #36648b;
@color-flag-major: #0e8be6;
@color-flag-bg: #bbe1fc;
@color-bg-shadow: #333;
@color-ant-menu-hover: #ebf9ff;
@color-ant-card-border: #e8e8e8;
@color-title-font: #575757;
@color-spec: #eb2f96;
// 特殊功能
@color-readonly: #eff0f0;

@color-banner: #3eb7ff;
@color-login-bar: #262c36;
@color-login-title: #17a8ff;
@color-login-i: #9b9b9b;
@color-login-remember: #4A4A4A;
@color-logo-text: #fe6600;
// 左侧菜单
@color-sider: #1c1919;
@color-sider-menu: #1f2937;
@color-sider-selected: #2f617f;
@color-sider-bg: #031626;
@color-content-bg: #f0f2f5;

// ---------------------------------- RBG ---------------------------
@rgb-firebrick3: #CD2626;
@rgb-firebrick4: #8B1A1A;
@rgb-brown4: #8B2323;

// ---------------------------------- 工作流 -------------------------
@flow-active: #1C86EE;
@flow-end: #32CD32;
@flow-error: #CD3333;
@flow-selected: #eeb423;

// ---------------------------------- 主题 ---------------------------
// 默认的sider颜色
@theme-main: @primary-color;
@theme-menu-item: #3eb7ff;

// ---------------------------------- 字体 ---------------------------
// 字体
@font-invert: white;
@font-family: SimHei;
@font-disabled: #bdbdbd;
@font-default: black;
@font-size-title: 18px;

// ---------------------------------- 组件 ---------------------------
// Success成功
@color-button-success: #48a55d;
@color-button-success-hover: #87d068;
// Failure红色
@color-button-failure: #f50;
@color-button-failure-hover: #f99;
// Spec特殊
@color-button-spec: #eb2f96;
@color-button-spec-hover: #FF6EB4;
// 特殊酱色
@color-button-brown: #8B4726;
@color-button-brown-hover: #DEB887;

// Card 专用（Card Action）
@color-card-design: #00a4c2;
@color-card-edit: #0199e1;
@color-card-delete: #ed6795;
@color-card-disabled: #ACA899;