.web-user-leader {

    .leader {
        &-item {
            min-height: 36px;
            line-height: 36px;

            &-selector {
                .form-item {
                    text-align: right;
                }
            }
        }

        &-name {
            margin-left: 8px;
        }
    }
}