@import '../../../global';

.ex-linkage {
    .tip {
        padding-left: 12px;
        text-align: right;
    }

    .content {
        padding-left: 3px;

        .ant-table {
            thead {
                th {
                    background-color: @button-spec;
                    color: white;
                }
            }
        }
    }
}