@import "~style/index.scss";

@mixin _xc_main_index_card {
  margin-bottom: $uni_font * 1.5;
  background: transparent;
  border-radius: 6px;
}

@mixin _xc_main_index_card_padding($pPadding: 0) {
  .ux_card {
    .ant-card-body {
      padding: 0 $pPadding;
    }
  }
}

.upg {
  &_dashboard_business {
    :global {
      .ux_card {
        .ant-card-head {
          padding-left: 24px;
        }
      }

      .region {
        @include attr_shadow_box($uni_font * 0.4);
        padding-bottom: $uni_font * 4;
      }

      .xc_row {
        @include _xc_main_index_card;
        @include _xc_main_index_card_padding();
      }

      .ant-pro-card {
        .xc_row {
          @include _xc_main_index_card;
          @include _xc_main_index_card_padding();
        }
      }

      .app_link {
        padding: $uni_font $uni_font * 1.5;

        a {
          display: inline-block;
          padding: $uni_font * 1.2;
          border: 1px solid $color_readonly;
          border-radius: 4px;
          max-width: $uni_font * 8;
          text-align: center;
          margin-right: $uni_font * 2;

          &:hover {
            opacity: 0.5;
            cursor: pointer;
            background: $color_readonly;
          }

          img {
            height: $uni_font * 4;
            width: $uni_font * 4;
            display: inline-block;
          }

          span {
            display: inline-block;
            color: black;
            font-size: $uni_font;
          }
        }
      }
    }
  }
}