@import "Cab.screen";

.umy {
  &_MyMenu {
    &_Dialog {
      .ant-transfer {

        &-list {
          width: 45%
        }

        &-operation {
          text-align: center;
          width: 7%;
          padding-left: 2%;
        }

        .source {
          max-height: 550px;
          overflow-y: auto;
        }

        .target {
          max-height: 550px;
          overflow-y: auto;

          &-item {
            width: 100%;
            line-height: 32px;
            display: block;
            float: left;

            .left {
              float: left;
            }

            .right {
              float: right;
            }
          }
        }
      }
    }

    .content {

      @include screen_umy_MyMenu;

      .range {
        float: left;
        text-align: center;

        .icon {
          display: block;
          font-size: 40px;

          &-view {

            &:hover {
              color: $uni_font;
              opacity: 0.8;
            }
          }

          &-admin {
            cursor: not-allowed;
          }

          &-add {
            &:hover {
              opacity: 0.8;
            }
          }
        }

        .link {
          color: black;
          float: left;
          display: block;

          span {
            display: block;
            width: 100%;
            color: black;
            text-align: center;
          }

          &-admin {
            &:hover {
              cursor: not-allowed;
            }
          }
        }

        .link-op {
          width: 100%;
        }
      }
    }

    .admin-button {
      border-radius: 16px;
      min-width: 88px;
      margin-right: 12px;
    }
  }
}