
.web-input-captcha {
  display: flex;
  // Fix：界面弹框移动
  max-height: 60px !important;

  .ant-col {
    display: inline-block;
    float: left;
  }

  &:hover {
    cursor: pointer;
  }

  .captcha {
    float: right;

    img {
      width: 100%;
      max-height: 50px;
    }
  }
}