
.uca {
  &_InputCaptcha {
    display: flex;
    // Fix: 界面弹框移动
    max-height: 60px;

    .ant-col {
      display: inline-block;
      float: left;
    }

    .captcha {
      float: right;

      &:hover {
        cursor: pointer;
      }

      img {
        margin-left: 2px;
        width: 99%;
        min-height: 42px;
        max-height: 50px;
        border-radius: 4px;
      }
    }
  }
}