
.ex-history {
    .ant-table {
        border: none !important;

        .ant-table-body {
            margin: 2px;
        }
    }

    .value-column {
        max-width: 300px !important;
        min-width: 120px !important;
        padding: 2px !important;
        white-space: pre-wrap;
        overflow-x:auto;
    }
}