
.ex-history {
    .ant-table {
        border: none !important;

        .ant-table-body {
            margin: 2px;
        }
    }

    .value-column {
        max-width: 160px !important;
        min-width: 120px !important;
    }
}