.table-editor-input-seq {
    width: 60px !important;
    text-align: center;
}

.web-table-editor {
    table {
        th {
            padding: 4px 12px !important;
        }
        td {
            padding: 4px 12px !important;
        }
    }
}