.web-file-upload {
    .ant-upload-list {
        height: 42px;
    }

    .ant-upload-list-item {
        &-name {
            height: 28px;
            line-height: 28px;
        }

        &-info {
            height: 28px;
            line-height: 28px;
        }
    }

    .ant-upload-list-item-name:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}