.web-tree {
    .ant-tree {
        overflow-y: auto !important;
        max-height: 600px !important;
    }
    .ant-tree-treenode {
        height: 32px !important;
    }
    .ant-tree-node-selected {
        background-color: white !important;
        &:hover {
            background-color: #DEE9FF !important;
        }
    }
    .web-tree {
        &-loading {
            width: 80% !important;
            text-align: center;
            padding-top: 120px !important;
        }
        &-addon {
            width: 24px;
            height: 24px;
            margin-left: 3px;
        }
        &-input {
            width: 120px !important;
        }
    }
}

.web-tree-popover-confirm {
}

.ant-popover {
    .ant-popover-title {
        min-height: 42px !important;
    }
    .ant-popover-inner-content {
        padding-right: 20px !important;
        .inner-form {
            min-width: 560px !important;
        }
    }
}

.web-tree-popover-title {
    width: 100%;
    span {
        display: block;
        float: left;
        margin-top: 4px;
    }
    button {
        float: right !important;
    }
}