.uex {
  &_ExLinkage {
    .tip {
      padding-left: 12px;
      text-align: right;
    }

    .content {
      padding-top: 0;

      .ant-table {
        border-radius: 0;

        table {
          border-collapse: collapse;

          thead {
            th {
              border: solid 1px #e7e7e7;
            }
          }
        }
      }
    }
  }
}