@import "../global-connect";


.web-file-logo {
  padding-top: 3px;

  .ant-upload-list-item-name:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .ant-upload-picture-card-wrapper {
    height: 104px;
  }

  .ant-upload-preview {
    .ant-upload {
      border: solid 1px white;
      background-color: @primary-color;

      img {
        height: 90px;
        width: 360px;
      }
    }
  }
}