@import '../../../global';

.ex-announce {
    &-window {
        .title {
            text-align: center;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .content {
            min-height: 200px;
            padding-left: 16px;
            padding-right: 16px;
        }

        .file {
            line-height: 28px;
            margin-bottom: 16px;

            .range {
                width: 28px;
                height: 28px;
                line-height: 28px;
            }

            .ant-upload-list-text {

                .ant-upload-list-item {
                    min-width: 600px;
                    line-height: 24px;
                    min-height: 24px;

                    &-name {
                        height: 24px;
                        line-height: 22px;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }

                    &-info {
                        height: 24px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .ant-card-body {
        min-height: 160px;
    }

    .ant-carousel {
        .slick-slide {
            height: 160px;
            line-height: 28px;
            overflow: hidden;

            .ex-content {
                height: 160px;
                padding: 6px;
                overflow: hidden;

                .action {
                    float: right;
                    position: relative;
                    right: -6px;
                    top: -6px;
                }
            }
        }

        .slick-dots {
            top: 132px;

            .slick-active {
                button {
                    background-color: @theme-main;
                    height: 18px;
                    width: 18px;
                }
            }

            button {
                height: 18px;
                width: 18px;
                border-radius: 9px;
                margin-right: 10px;
                background-color: @theme-main;
            }
        }
    }
}