@import "~style/index.scss";

.uex {
  &_ExAnnounce {

    .ant-card-body {
      min-height: 148px;
      @include unit_ant_empty(148px);
    }

    .ant-carousel {
      .slick-slide {
        height: $uni_font * 14;
        line-height: 28px;
        overflow: hidden;

        .content {
          height: $uni_font * 10;
          padding: $uni_font;
          overflow: hidden;

          .action {
            float: right;
            position: relative;
            right: -6px;
            top: -6px;
          }
        }
      }

      .slick-dots {
        top: $uni_font * 10;

        .slick-active {
          button {
            background-color: $uni_color;
            height: 18px;
            width: 18px;
          }
        }

        button {
          height: 18px;
          width: 18px;
          border-radius: 9px;
          margin-right: 10px;
          background-color: $uni_color;
        }
      }
    }
  }
}