.ex-authority {
  padding-left: 6px;

  .role-header {
    line-height: 32px;

    .role-title {
      font-weight: bold;
      text-align: right;
    }
  }

  .role-tab {
    .ant-tabs-left-content {
      padding-left: 4px;
    }

    .ant-tabs-right-content {
      padding-right: 4px;
    }

    .ant-tabs-bar {
      margin-bottom: 2px;
      padding-bottom: 2px;

      .ant-tabs-extra-content {
        button {
          margin-left: 6px;
        }
      }
    }
  }
}