@import "../magician";

.ux-app {
  .ux-app-fit;

  i {
    display: block !important;
    font-size: 40px !important;
  }

  i:hover {
    color: @primary-color;
    background-color: @color-flag-bg !important;
  }

  a {
    color: black !important;
    float: left;

    span {
      display: block !important;
      width: 100%;
      color: black !important;
      text-align: center !important;
    }
  }
}