@import "../global-connect";

.ex-announce {

  .ant-card-body {
    min-height: 160px;
  }

  .ant-carousel {
    .slick-slide {
      height: 180px;
      line-height: 28px;
      overflow: hidden;

      .ex-content {
        height: 140px;
        padding: 6px;
        overflow: hidden;

        .action {
          float: right;
          position: relative;
          right: -6px;
          top: -6px;
        }
      }
    }

    .slick-dots {
      top: 148px;

      .slick-active {
        button {
          background-color: @theme-main;
          height: 18px;
          width: 18px;
        }
      }

      button {
        height: 18px;
        width: 18px;
        border-radius: 9px;
        margin-right: 10px;
        background-color: @theme-main;
      }
    }
  }
}