
.ux-layout {
  height: 100vh;
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  .ux-logo {
    &-mix {
      &-a {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .ux-content {
    padding-bottom: 0;
  }

  .ant-layout-sider-children {
    padding: 0 !important;
  }
}