@import "../global-connect";

.ux_extra {
  text-align: right !important;
  padding-right: 0 !important;
}

.ex-open {
  button[disabled] {
    // top: 1px !important;
  }
}

// 界面修正专用（用于带 Title 的 Tab页的定制）
.web-tab-title {
  .ant-tabs-card-bar .ant-tabs-nav-container .ant-tabs-nav-wrap .ant-tabs-nav-scroll .ant-tabs-nav {
    .ant-tabs-tab-disabled:first-child {
      color: #262626;
      font-size: 15px;
      font-weight: 500;
      border-style: none;
      border-top-left-radius: 0;
      background-color: white;
      margin-bottom: 3px;
      min-width: 120px;
      padding-left: 12px;
      top: -3px;

      &:hover {
        cursor: text;
      }
    }
  }

  &-icon {
    i {
      color: @primary-color;
      font-size: 18px;
    }
  }
}