@import "../magician";

.ux-navigation {

  //margin-top: 5px;
  background: @component-background;
  .ux-navigation-fix;
  border-bottom: @border-width-base @border-style-base @border-color-split;

  .breadcrumb {
    margin-bottom: 12px;
  }

  &-extra {
    float: right;
    line-height: 21px;
    height: 21px
  }

  &-menu {
    float: left;
  }
}