.ex-regiment {
  .row-search {
    margin-bottom: 4px;
    padding-right: 6px;
  }

  .row-tag {
    .tag {
      padding: 3px 6px;
      font-size: 14px;
    }
  }

  .row-divider {
    padding-top: 4px;
    padding-bottom: 4px;


    .tag {
      padding: 3px 6px;
      font-size: 14px;
    }
  }

  .row-left {
    max-height: 500px;
    overflow: auto;
  }

  .regiment-table {
    min-height: 210px;

    .ant-table-placeholder {
      border-bottom: none !important;
    }

    .row-remove {
      width: 64px;
      text-align: center;
      padding: 3px 6px !important;
    }

    .ant-pagination {
      margin: 6px !important;
    }

    table {
      thead > tr > th {
        padding-top: 6px;
        padding-bottom: 6px;
      }

      tbody > tr > td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}