@import "../global-connect";


.hx-flow {
  .hx-tag {
    .ant-menu-submenu-title {
      margin-top: 2px;
      margin-bottom: 0;
      padding-left: 8px !important;
    }

    .ant-menu-item {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .hx-content {
    padding-left: 3px;

    .head-row {
      line-height: 36px;
      min-height: 36px;

      .head-title {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}