@import "../global-connect";

.hx-menu {
  .ant-row {
    margin-bottom: 6px;

    .hx-col {
      &-f {
        padding-right: 3px;
      }

      &-c {
        padding-left: 3px;
        padding-right: 3px;
      }

      &-l {
        padding-left: 3px;
      }
    }

    .ant-card-body {
      min-height: @mod-auth-region-menu;
      max-height: @mod-auth-region-menu;
      overflow-y: auto;
    }
  }
}