@import "../global-connect";

.ix-rule {
  .ant-tabs-tab {
    &:hover {
      color: white !important;
      background-color: @primary-color !important;
    }

    &-active {
      color: white !important;
      background-color: @primary-color !important;
    }
  }
}

.ix-rule-term {
  .operation {
    text-align: center;
  }

  .content {
    max-height: 258px;
    overflow-y: auto;

    &-check {

      .ant-checkbox-group-item {
        width: 95%;
        height: 24px;
        line-height: 24px;
        display: inline-block;
      }
    }
  }

  .ant-table {
    .ant-table-title {
      background-color: #fafafa;

      .ix-sort {
        text-align: right;
      }
    }

    .ant-table-body {
      margin-left: 0;
      margin-right: 0;
    }

    table {

      .ant-table-selection-column {
        padding-left: 4px !important;
        padding-right: 4px !important;
      }

      td {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
      }
    }
  }

  .ant-collapse {
    &-header {
      padding: 6px 8px !important;
    }

    &-content-box {
      padding: 8px 4px 8px 8px !important;
    }
  }
}