@import "../global-connect";

.ex-flow-history {
  padding-top: 0;

  .ant-table {
    border-radius: 0;

    table {
      border-collapse: collapse;

      thead {
        th {
          border: solid 1px #e7e7e7;
        }
      }
    }
  }
}