@import "style/common";
@import "style/designer";
@import "style/canvas";
@import "style/popover";
@import "style/drawer";

.web-form-designer {
    &-preview {
        .content-json {
            max-height: 560px;
            overflow-y: auto;
        }
    }

    &-dropdown {

        .item-add {
            padding: 6px 12px;

            &:hover {
                cursor: pointer;
                color: @primary-color;
            }
        }
    }

    &-import {
        .ant-form-item-control {
            text-align: center;

            .ant-upload-list {
                text-align: left;
                display: block;
                margin-left: 30%;
                width: 40%;
            }
        }
    }

    .content {
        &-left {
            padding-right: 6px;
        }

        &-status {
            label {
                font-weight: 900;
            }

            border-bottom: dashed 1px #Ececec;
            line-height: 28px;

            .window-default {
                text-align: right;
            }
        }
    }

    .web-form-designer-popover; // 浮游窗口
    .web-form-row-drawer;
    .web-form-cell-drawer;

    .canvas; // 画布
    .designer; // 设计器
    &-actions {
        button {
            margin-right: 8px;
        }

        .ant-btn-background-ghost {
            border: dashed 1px #9d9d9d;
        }
    }
}