.web-authority-view {
    .row {
        line-height: 32px;
        height: 32px;
        margin-bottom: 3px;
    }

    .title {
        font-size: 13px;
        font-weight: bold;
        text-align: right;
    }

    .page-op {
        line-height: 32px;
        height: 32px;
        margin-bottom: 3px;
    }
}