@import "../../../global";

.ex-track-field {
    .select-prefix {
        text-align: right;
        line-height: 32px;
    }

    .select-input {
        width: 100%;
        min-width: 100%;
    }

    .ex-field-history {
        .ant-table-content {
            table {

                .ant-table-thead {
                    th {
                        background-color: @primary-color !important;
                        color: white;
                    }
                }

                td {
                    background: white;
                }

                td[colspan="3"] {
                    padding: 0 !important;
                }
            }
        }
    }
}