.ops-linker {
    padding-top: 6px;

    .ant-tag {
        padding: 8px;
        width: 100%;
        min-height: 80px;
        color: #8d8d8d;
        border: dashed 1px #91d5ff;

        .title {
            width: 100%;
            margin-bottom: 12px;
        }
    }

    .link {
        text-align: center;
        min-height: 80px;
        line-height: 80px;

        .icon {
            transform: rotate(45deg);
        }
    }

    .comment {
        color: #8d8d8d;
        text-align: center;
        width: 100%;
        margin-top: 6px;
    }
}