.web-alert {
    .web-alert-shared {

        .shared-layout {
            padding-left: 80px !important;
            margin-bottom: 10px !important;
        }

        .ant-alert {
            padding-left: 80px !important;
            margin-bottom: 10px !important;

            &-info {
                .shared-layout;
            }

            &-success {
                .shared-layout;
            }

            &-warning {
                .shared-layout;
            }
        }
    }

    .web-alert-ul {
        ul {
            padding-left: 20px !important;

            li {
                list-style: none !important;
            }
        }
    }

    &-list {
        .web-alert-shared;
        .web-alert-ul;
    }

    &-iconlist {
        .web-alert-ul;
        .web-alert-shared;
    }
}