@import '../../../global';

.ex-flow-history {
    padding-top: 3px;

    .ant-table {
        thead {
            th {
                background-color: @button-spec;
                color: white;
            }
        }
    }
}