@import "../global-connect";

.ex-todo-pending {
  padding: 2px;


  .ant-table {
    thead {
      th {
        background-color: @primary-color;
        color: white;
      }
    }
  }

  .avatar-holder {
    img {
      width: 80px;
      height: 80px;
    }
  }

  .g2-bar {
    padding-top: 16px;
  }
}