@import "~style/index.scss";

.uca {
  &_UserSelector {

    @include unit_selector_bg();

    &_Dialog {
      @include screen_uca_dialog(8px, 4px);

      .user-content {
        padding-left: 6px;
        min-height: 500px;

        .user-tips {
          line-height: 28px;
          height: 28px;
          margin-bottom: 6px;

          .ant-col {
            padding-left: 12px;
          }
        }
      }

      .ant-table-body {
        min-height: 440px;

        tr:hover {
          cursor: pointer;
        }
      }
    }
  }
}