@import '~antd/lib/style/themes/default.less';
@import "../../../global";

@login-prefix: login;
.@{login-prefix} {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &-content {
        text-align: center;
        // < 1600
        @media (min-width: @screen-xl) and (max-width: @screen-xxl) {
            padding-top: 185px;
        }
        // > 1600
        @media (min-width: @screen-xxl) {
            padding-top: 300px;
        }

        .range {

            dl {

                dt {
                    color: @color-banner;
                    font-size: 50px;
                    font-weight: bold;
                    font-style: italic;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                }

                dd {

                    li {
                        text-indent: 4rem;
                        @media (min-width: @screen-xxl) {
                            margin-left: 7rem;
                        }
                        list-style: none;
                        text-align: left;
                        color: white;
                        font-size: 32px;
                        font-style: italic;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}