@import '../../../global';

.ex-drawer {
    .ant-drawer-body {
        padding: 12px !important;
    }
}

.ex-search {

    button[disabled] {
        top: 1px !important;
    }

    .search-clean {
        button[disabled] {
            border-radius: 4px;
        }
    }

    .search-right {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;

        button[disabled] {
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
        }
    }
}