
.web-authority-resource {
    .content {
        padding-left: 3px;
    }

    .wizard {
        .web-help {
            padding: 6px 16px;
            width: 100%;
        }

        .web-action {
            text-align: center;
            padding: 3px 16px;
            width: 100%;
        }

        .web-form {
            padding: 3px 3px;
        }

        .web-op {
            padding: 8px 4px;

            &-link {
                .left {
                    float: left;
                }

                .right {
                    float: right
                }
            }
        }
    }

    .tree {
        &-search {
            margin-bottom: 3px;
        }

        &-resource {
            overflow-y: auto;
        }

        &-permission {
            overflow-y: auto;

            &-close {
                min-height: 28px;
                line-height: 24px;
            }

            .ant-collapse-header {
                padding: 6px 8px 6px 40px;
            }

            .ant-collapse-content-box {
                padding: 0;
            }
        }
    }
}

.web-ex-transfer-perm {
    .ant-transfer-list-body-customize-wrapper {
        padding: 3px;
        min-height: 230px;
    }

    .row {
        width: 100%;
        padding: 0 6px;

        &-head {
            margin-top: 16px;
            line-height: 40px;
            height: 40px;
        }

        &-item {
            line-height: 36px;
            height: 36px;
            padding: 0 6px;
        }

        &-title {
            font-weight: 800;
            text-align: right;
        }
    }
}