
.web-authority-resource {
    .content {
        padding-left: 3px;
    }

    .tree {
        &-search {
            margin-bottom: 3px;
        }

        &-resource {
            overflow-y: auto;
        }
    }
}