@import "../global-connect";

.room-status-list {
  .ant-list-item {
    height: 32px !important;
    padding-top: 0 !important;

    .room-status-desc {
      display: inline-block !important;
      width: 50% !important;
      padding-bottom: 0 !important;
    }
  }
}