.table-editor-input-seq {
    width: 60px !important;
    text-align: center;
}

.web-table-editor {
    .ant-btn-group {
        button {
            margin-right: 0 !important;
        }
    }
    .ant-table {
        table {
            padding: 0;
            td {
                padding: 6px 12px !important;
            }
            th {
                padding: 12px !important;
            }
            input {
                min-height: 32px;
            }
        }
    }
    .ant-select-selection {
        min-width: 200px !important;
    }
}

.web-table-transfer {
    &-row {
        margin-top: 3px !important;
        margin-bottom: 3px !important;
        .ant-btn-group {
            button {
                margin-right: 0 !important;
            }
        }
    }
    .ant-table {
        .col {
            &-120 {
                width: 120px !important;
            }
            &-100 {
                width: 100px !important;
            }
            &-90 {
                width: 90px !important;
            }
        }
    }
}