@import '../../../global';

.form-duration {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 16px;
    max-height: 400px;
    overflow-y: auto;

    .title {
        color: #4a4a4a;
        font-weight: 500;
    }

    .row-radio {
        height: 40px;
        line-height: 40px;
        width: 100%;
    }

    .row-date {
        min-height: 40px;
        line-height: 40px;
    }
}

.ops-script {
    &-over {

        .ant-popover-content {

            .ant-popover-inner-content {
                padding: 6px;

                input {
                    border-radius: 0;
                }
            }
        }
    }
}

.ops-task {
    &-sub {
        padding: 8px 8px 8px 0;

        .range {
            border: solid 1px #d9d9d9;
            border-radius: 3px;
            min-height: 400px;
            max-height: 400px;
            overflow-y: auto;
            width: 100%;
            margin: 0;

            &-target {
                .ant-select {
                    width: 100% !important;
                    margin-bottom: 3px;
                }
            }

            &-empty, &-tree {
                min-height: 365px;
                max-height: 365px;
                overflow-y: auto;
                margin: 0;
                padding: 16px;
            }

            &-tree {
                padding: 0;
            }
        }

        .title-row {
            margin-bottom: 6px;

            .ant-col {
                color: #4a4a4a;
                font-weight: 500;
            }

            &-select {
                height: 30px;
                line-height: 30px;
            }
        }

        .select-row {
            margin-bottom: 3px;

            .op-script {
                line-height: 32px;

                &-content {
                    padding: 2px;
                }

                .ant-btn {
                    margin-bottom: 0 !important;
                }

                i {
                    font-size: 20px;
                    color: @primary-color;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .ant-col {
            padding-right: 3px;
            padding-left: 3px;
        }
    }
}