@import "~style/index.scss";

.uca {
  &_TreeSelector {
    // Fix背景色（不呈现灰色背景色）
    @include unit_selector_bg();

    &_Dialog {
      @include screen_uca_dialog(8px, 4px);

      .content {
        overflow: auto;
        min-height: 270px;
        max-height: 450px;

        .ant-tree {
          .ant-tree-list {
            @include unit_tree_selected()
          }
        }
      }
    }
  }
}