.uca {
  &_UserGroup {
    min-height: 200px;

    .group-content {
      min-height: 200px;
    }

    .group-filter {
      padding-right: 3px;

      .ant-card {
        .ant-card-head {
          height: 40px !important;

          &-wrapper {
            height: 40px !important;
          }

          &-title {
            height: 32px !important;
            padding-top: 4px;
            padding-bottom: 4px;
          }
        }

        .ant-card-body {
          padding: $uni_font * 0.2 0;

          .ant-menu {
            border: none;

            .ant-menu-item {
              margin: 0;
            }
          }
        }
      }
    }

    .checked-group {
      width: 100%;
      // padding-left: 12px;
      padding: $uni_font * 0.1 $uni_font * 0.5;
      display: inline-block;

      .checked-item {
        line-height: $uni_font * 2.7;
        float: left;
        width: 33%;
      }
    }

    .checked-empty {
      padding-top: 20px;
    }
  }
}