@import '../../../global';

.ex-editor-link {
    .ant-col {
        line-height: 32px;
    }

    .search-bar {
        margin-bottom: 6px;

        .title {
            text-align: right;
        }

        .tip {
            padding-left: 12px;
        }
    }

    .tree {
        padding-left: 12px;
        max-height: 560px;
        overflow-y: auto;
    }

    .content {
        padding-left: 3px;

        .ant-table {
            thead {
                th {
                    background-color: @button-spec;
                    color: white;
                }
            }
        }
    }
}