.uca {
  &_CheckTransfer {
    padding-top: 3px;
    padding-bottom: 3px;

    .ant-transfer {
      &-list {
        width: 45%
      }

      &-operation {
        text-align: center;
        width: 7%;
        padding-left: 2%;
      }
    }
  }
}