@import "../../../global";

.ux-layout {
    .tpl(@height,@padding, @action, @notify, @avatar, @sider) {
        .ux-sider {

        }
        .ux-header {
            height: unit(@height, px);
            padding: 0 unit(@height / 4, px) 0 0;

            i.trigger {
                .ix-font.x-line(@height);
                .ix-box.in(@padding);
            }

            .right {
                // 右上角图标修正高度
                line-height: unit(@height, px) !important;

                .anticon {
                    .ix-box.in(@action);
                    float: left !important;
                }

                .notify-notice-button {
                    padding: @notify;
                }

                .account {
                    .ix-font.line(@height);

                    .avatar {
                        .ix-box.out(@avatar);
                    }
                }
            }
        }
    }
}

.ux-layout-fit {
    // 1024 x 768
    @media (max-width: 1024px) {
        .ux-layout.tpl(
                32,
                4px 20px,
                0px 4px,
                8px,
                6px 2px 6px 0,
                72
        );
    }
    // 1280 x 1024
    @media (min-width: 1025px) and (max-width: 1280px) {
        .ux-layout.tpl(
                48,
                4px 20px,
                0px 4px,
                8px,
                6px 2px 6px 0,
                72
        );
    }
    // 1366 x 720
    @media (min-width: 1281px) and (max-width: 1366px) {
        .ux-layout.tpl(
                48,
                4px 20px,
                0px 4px,
                8px,
                6px 2px 6px 0,
                72
        );
    }
    // 1400 x 900
    @media (min-width: 1367px) and (max-width: 1440px) {
        .ux-layout.tpl(
                48,
                4px 20px,
                0px 4px,
                8px,
                6px 2px 6px 0,
                72
        );
    }
    // 1680 x 1050
    @media (min-width: 1441px) and (max-width: 1680px) {
        .ux-layout.tpl(
                56,
                4px 24px,
                0px 6px,
                8px,
                12px 4px 12px 0,
                80
        );
    }
    // 1920 x 1200, 1920 x 1080
    @media (min-width: 1681px) {
        .ux-layout.tpl(
                56,
                4px 24px,
                0px 6px,
                8px,
                12px 4px 12px 0,
                80
        );
    }
}