.ox-main {
    .page-card {
        .ant-card-body {
            padding-left: 6px !important;
            padding-right: 6px !important;
        }
    }

    .ox-empty {
        border: solid 1px #cccccc;
        padding: 10px;
        background: white;
    }
}