.ops-model-step {
    padding: 30px 10px 28px 10px;

    .ant-steps-item {
        height: 64px;
        padding-left: 16px;

        .ant-steps-item-description {
            display: block;
            position: relative;
            top: 40px;
            left: -40px;
            text-align: center;
        }
    }
}