.upg {
  &_todo_report {
    padding: 0;

    :global {
      .region {
        padding: 0 $uni_font * 0.6 $uni_font $uni_font * 0.6;

        .chart {
          padding: $uni_font * 0.8;
        }
      }
    }
  }
}