@import "~style/index.scss";
.upg {
  &_dashboard_resource {

    :global {
      .resource_container {
        @include attr_shadow_box($uni_font * 0.4);
        margin-bottom: 12px;

        .ant-pro-card {
          margin-bottom: $uni_font;
        }

        .app {

          img {
            width: $uni_font * 5;
            height: $uni_font * 5;
          }

          .ant-statistic-content-value {
            font-size: $uni_font * 1.2;
          }

          &:hover {
            opacity: 0.7;
            cursor: pointer;
            background: $color_readonly;
          }
        }
      }
    }
  }
}