@import "~style/index.scss";

.uex {
  &_ExEditorColumn {
    @include screen_uca_popover_content(8px, 4px);

    .ant-tabs-nav {
      margin-bottom: $uni_font * 0.4;
    }

    .ux_popover_body {
      .all {
        padding: 8px 3px;
        width: 100%;
        border-top: dashed 1px $uni_color;
        margin: 3px 0;
      }

      .group {
        width: 100%;
        flex-direction: column;

        .group_row {
          padding-left: $uni_font * 0.2;
          padding-right: $uni_font * 0.2;
          width: 100%;
          line-height: $uni_font * 2.1;
          min-height: $uni_font * 2.4;

          .ant-checkbox-wrapper {
            margin-left: 0;
          }
        }
      }

      .ant-check-group {
        width: 100%;

        .ant-check-wrapper {
          float: left !important;
          display: inline-block !important;
        }
      }
    }
  }
}