@color-default: #4e5251;
@color-logo: #333;
@color-body: #ffffff;
@color-border: #bfbfbf;
@color-profile: #55537e;
@color-password: #14b4a7;
@color-logout: #147fb4;
@color-button: #1464b4;
@color-title: #f0f0f0;
@color-room-bg: #eeeeee;
@color-highlight: #f50;
@color-error: #ff686b;
@color-highlight-hover: #f99;
@color-green: #33af43;
@color-blue: #0094d1;
@color-red: #ff3b1a;
@color-yellow: #ff8626;
@color-login-button: #0093ed;
@color-flag-major: #0e8be6;
@color-flag-bg: #bbe1f1;
@color-bg-shadow: #333;
@color-ant-menu-hover: #ebf9ff;
@color-ant-card-border: #e8e8e8;
@font-invert: white;
@font-family: SimHei;
@font-disabled: #bdbdbd;
@font-default: black;
@color-readonly: #eff0f0;
// 字体处理
@color-title-font: #575757;
// 特殊颜色处理
@font-size-title: 18px;
// 默认的sider颜色
@theme-main: #3eb7ff;
@color-spec: #eb2f96;
@theme-menu-item: #3eb7ff;

@color-banner: #3eb7ff;
@color-login-bar: #262c36;
@color-login-title: #17a8ff;
@color-login-i: #9b9b9b;
@color-login-remember: #4A4A4A;
@color-logo-text: #fe6600;
@color-sider: #1c1919;
@color-sider-menu: #1f2937;
@color-sider-selected: #2f617f;
@color-content-bg: #f0f2f5;
// 特殊色彩：https://www.sojson.com/rgb.html
@rgb-firebrick3: #CD2626;
@rgb-firebrick4: #8B1A1A;

@rgb-brown4: #8B2323;