@import "~antd/lib/style/themes/default.less";

.ex-editor {
    &-table {
        .ant-table-thead {
            height: 39px !important;
            min-height: 39px !important;
        }
    }

    &-center {
        text-align: center !important;

        .ant-upload-picture-card-wrapper {
            max-width: 110px !important;
        }
    }

    &-dialog {
        .transfer {
            width: 100%;
            padding-top: 6px;
            padding-bottom: 6px;

            .ant-transfer {

                &-list {
                    width: 46%;
                }

                &-operation {
                    min-width: 24px;
                    width: 24px;
                }
            }

            .left {
                overflow: hidden;
            }

            .right {
                float: right;
            }
        }

        .group {
            width: 100%;

            .item {
                float: left;
                padding: 3px;
            }
        }

        .all {
            padding: 8px 3px;
            width: 100%;
            border-top: dashed 1px @primary-color;
            margin: 3px 0;
        }

        .checked-content {
            padding: 6px;
        }

        .button {
            width: 100%;
            text-align: center;
        }

        .input {
            margin: 6px;

            .input-label {
                text-align: right;
                line-height: 32px;
            }
        }

        .button-active {
            padding: 6px;
            width: 100%;
            text-align: center;
            background-color: @primary-color;

            button {
                min-width: 90px;
                border-radius: 16px;
            }

            .ant-btn-primary {
                border: solid 1px white;
                margin-left: 8px;
            }
        }
    }
}

.ex-container-popover {

    .ant-popover-title {
        height: 47px;
        padding: 12px 18px;
        background-color: #C9C9C9;

        .ant-col {
            padding-top: 0 !important;
        }
    }

    .ant-popover-content {
        .ant-popover-arrow {
            background-color: #C9C9C9;
            border-color: #C9C9C9;
        }

        .ant-popover-inner {
            .ant-popover-inner-content {
                padding: 0;
            }
        }
    }
}