@import "../global-connect";

.ox-history {
  .ant-table {
    table {
      .ant-table-expanded-row {

        .ant-table-thead {
          th {
            background-color: @primary-color !important;
            color: white;
          }
        }

        td {
          background: white;
        }

        td[colspan="3"] {
          padding: 0 !important;
        }
      }
    }
  }
}