@import "./common";

.canvas {
    padding-top: 4px;

    &-row {
        &:hover {
            cursor: move;
        }

        .flex-display;
        margin-bottom: 4px;

        .left {
            flex: 1;
            flex-direction: column;
            .flex-display;

            .v-command {
                padding-top: 2px;

                .op-link {
                    background-color: white;

                    padding-top: 2px;
                    display: inline-block;
                    text-align: center;

                    &:hover {
                        border-radius: 3px;
                    }

                    .ix-box.square(24px);

                    .ix-text.hover-invert(#eb2f95);

                    &:first-child {
                        .ix-text.hover-invert(#00b9f0)
                    }

                    &:last-child {
                        .ix-text.hover-invert(#5dcd52)
                    }

                    i, svg {
                        .ix-box.square(18px);
                    }
                }
            }
        }

        .right {
            flex: 30;
            flex-wrap: wrap;
            margin: 2px 0;
            background-color: #ECECEC;
            min-height: 72px;
            background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .3) 1px, transparent 0),
            linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 0),
            linear-gradient(0deg, white 2px, transparent 0),
            linear-gradient(90deg, white 2px, transparent 0);
            background-size: 5px 5px;

            &-active {
                background-color: #B0E2FF;
            }
        }
    }

    &-cell {

        &:first-child {
            .t-command {
                display: none;
            }
        }

        .t-command {
            .op-link {
                position: absolute;
                top: 0;
                left: -14px;

                padding: 2px 2px 0 2px;
                border: solid 1px white;
                display: inline-block;
                text-align: center;

                background-color: #ECECEC;
                background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .3) 1px, transparent 0),
                linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 0),
                linear-gradient(0deg, white 2px, transparent 0),
                linear-gradient(90deg, white 2px, transparent 0);
                background-size: 5px 5px;

                &:hover {
                    border-radius: 3px;
                    border: solid 1px #8C8C8C;
                }

                svg {
                    .ix-box.square(22px);
                }
            }

        }

        .content {
            background-color: white;
            margin: 4px;
            min-height: 63px;

            &-tool {
                padding-left: 5%;
                padding-right: 5%;

                .ant-input {
                    padding: 0 !important;
                    height: 21px !important;
                    line-height: 21px !important;
                    width: 50%;
                    border-radius: 0;
                    border: none;
                    border-bottom: solid 1px #d9d9d9;
                }

                .c-command {
                    float: right;

                    .op-link {
                        display: inline-block;
                        text-align: center;

                        &:hover {
                            border-radius: 3px;
                        }

                        .ix-box.square(22px);

                        .ix-text.hover-border(#A1A1A1);

                        &:first-child {
                            .ix-text.hover-border(#00b9f0);
                        }

                        i, svg {
                            .ix-box.square(18px);
                        }
                    }
                }
            }

            &-drop {
                margin: 3px 3%;
                border-radius: 5px;
                border-left: solid 3px #ececec;
                min-height: 36px;
            }
        }

        &:first-child {
            .content {
                margin-left: 8px;
            }
        }

        &:last-child {
            .content {
                margin-right: 8px;
            }
        }
    }
}