@import "../../../../global";

.dx-module-config {
    padding-bottom: 64px;

    .bag-info {
        min-height: 112px;
        padding: 3px;

        &-detail {
            padding: 3px;
        }

        .bag-icon {
            text-align: center;
            padding: 4px;
        }

        .bag-list {
            padding: 2px 12px;
            margin: 0 0 3px 0;
            list-style: none;


            .title {
                color: black;
                font-size: 16px;
                font-weight: bold;
            }

            .abbr {
                font-size: 12px;
                color: #8c8c8c;
            }

            li {
                line-height: 24px;
            }
        }

        .ant-card {

            img {
                display: inline-block;
                width: 64px;
                height: 64px;
            }

            .ant-card-meta-description {
                font-size: 12px;
                max-height: 18px;
                overflow: hidden;
            }
        }
    }

    .block {
        text-align: center;
        margin-right: 16px;
        margin-bottom: 8px;
        margin-top: 8px;

        width: 102px;
        height: 120px;
        float: left;

        img {
            width: 64px;
            height: 64px;
        }

        span, a {
            width: 100%;
            line-height: 24px;
            display: inline-block;
        }
    }
}