.uhx {
  &_HxFlow {

    .hx-tag {
      min-height: 40px;
      // 背景色
      .ant-menu-light.ant-menu-inline {
        .ant-menu-sub.ant-menu-inline {
          background-color: white !important;
        }
      }

      .ant-menu { // 菜单
        .ant-menu-submenu { // 子菜单
          .ant-menu-submenu-title { // 一级菜单
            margin-top: 0;
            margin-bottom: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
          }
        }
      }


      .ant-menu-item {
        margin-top: 0;
        margin-bottom: 0;
      }
    }


    .hx-content {
      padding-left: 3px;

      .hx-head {
        line-height: 36px;
        min-height: 36px;

        .hx-head-title {
          text-align: right;
          font-weight: bold;
        }
      }

      .hx-body {
        padding-bottom: $uni_font * 0.6;
      }
    }
  }

}