.job-op {
    padding-left: 6px !important;
    padding-right: 0 !important;
    text-align: left;
}

.job-tool {
    margin-bottom: 3px !important;
    margin-top: 3px !important;

    .check-group {
        padding-left: 6px;
        line-height: 32px;
    }
}

.job-menu {
    .ant-menu-item {
        margin: 2px 0 4px 0 !important;
        padding-left: 4px;
        padding-right: 4px;
        height: 32px;
        line-height: 32px;
    }
}

.job-table {
    .ant-pagination {
        margin-top: 12px;
        margin-bottom: 8px;
    }
}