.ox-tpl-row {
    width: 100%;

    .ant-row {
        line-height: 32px;
        height: 32px;
    }
}

.ox-tpl-range {
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: dotted 2px lightblue;

    .item {
        line-height: 32px;
        height: 32px;
    }
}