
.qx-criteria {
    .form {
        border: 1px dashed #e7e8e8;
        border-radius: 3px;
        padding: 12px 6px;

        .ant-row {
            height: 42px;
            line-height: 42px;
        }

        .right {
            text-align: right;
            font-weight: bold;
        }

        .dynamic {
            padding-top: 6px;
        }
    }

    .notice {
        border-radius: 3px;
        min-height: 64px;
        margin-right: 6px;

        .ant-alert {
            margin-bottom: 3px;
        }
    }
}