// $uni_color - 启动专用主色调
$color_form_error: #ff686b; // 表单异常信息专用色

$color_focus_yellow: #FFEC8B; // 激活专用色

// ---- 辅助灰
$color_disable_icon: #bdbdbd; // 图表禁用色
$color_disable_text: #8c8c8c; // 前景色
$color_readonly: #eff0f0; // 只读色
$color_comment: #8c8c8c; // 备注色
$color_text: #323232; // 默认字色

// ---- 按钮色
$color_failure: red;
$color_failure_confirm: #cf3533;

// ---- 原按钮配对处理
$color_op_pink: #FF4500;
$color_op_pink_hover: #f99;
$color_op_peach: #eb2f96;
$color_op_peach_hover: #FF6EB4;
$color_op_green: #48a55d;
$color_op_green_hover: #87d068;
$color_op_red: #f50;
$color_op_red_hover: #f99;
$color_op_brown: #8B4726;
$color_op_brown_hover: #DEB887;

// ---- 工作流节点样式
$color_flow_active: #1C86EE;
$color_flow_end: #32CD32;
$color_flow_error: #CD3333;
$color_flow_hover: #eeb423;

$color_flowbg_end: #f6ffed;
$color_flowbg_error: #FFF0F5;
$color_flowbg_active: #f0f5ff;
$color_flowbg_hover: white;

