@use "sass:math";

.uca {
  &_LoadingAlert {
    margin-bottom: math.div($uni_font, 3);

    .ant-alert {
      padding: $uni_font * 0.8 $uni_font * 2;

      &-message {
        font-weight: 900;
      }
    }

    svg {
      font-size: $uni_font * 4;
    }

    ul {
      padding-left: $uni_font;
      margin: math.div($uni_font, 2) 0;
      text-align: left;

      li {
        list-style: none;
      }
    }
  }
}