.uca {
  &_TableTransfer {
    .search {
      width: 100%;
    }

    .tree {
      max-height: 280px;
      overflow-y: auto;
    }

    .content {
      padding-left: 6px;

      .table {
        max-height: 280px;
        overflow-y: auto;
      }

      .ant-table {

        table > tbody > tr > td {
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }
  }
}