.web-rectangle {
    fieldset {
        padding: 0 16px 16px 16px;
        margin: 6px;
        border: lightblue dashed 1px;
        border-radius: 6px;

        legend {
            font-size: 14px;
            width: auto;
        }
    }
}