@import "../../../global";

.ops-source-op {
    background-color: @primary-color;
    text-align: center;

    button {
        border: solid 1px white;
        margin-right: 16px;
        border-radius: 16px;
        min-width: 90px;
    }
}

.ant-modal-footer {
    background-color: @primary-color;
}