@import './Cab.Fit.less';

.zui-main {

    .web-card {
        .ant-card-body {
            padding-left: 6px !important;
            padding-right: 6px !important;
        }

        .zui {
            &-tool {
                width: 100%;
                margin-bottom: 4px;
            }

            &-range {
                padding: 3px;
            }

            &-half-card {
                margin-bottom: 6px;

                .zui-list {
                    margin-right: 3px;

                    .ant-list-item {
                        font-weight: 200 !important;
                    }
                }
            }
        }
    }

    .zui-main-fit;
}