.web-input-array {
    .input-segment {
        width: 30%;
        margin-right: 1%;
    }

    .ant-input-group-addon:hover {
        cursor: pointer;
        color: white;
        background-color: #575757;
    }
}