@mixin attr_gradient_l($color, $end) {
  background: -moz-linear-gradient(left, $color 0%, white $end);
  background: -webkit-linear-gradient(left, $color 0%, white $end);
  background: -o-linear-gradient(left, $color 0%, white $end);
  background: -ms-linear-gradient(left, $color 0%, white $end);
  background: linear-gradient(to right, $color 0%, white $end);
}

@mixin attr_gradient_r($color, $end) {
  background: -moz-linear-gradient(right, $color 0%, white $end);
  background: -webkit-linear-gradient(right, $color 0%, white $end);
  background: -o-linear-gradient(right, $color 0%, white $end);
  background: -ms-linear-gradient(right, $color 0%, white $end);
  background: linear-gradient(to left, $color 0%, white $end);
}