@import (less) "../macrocosm/index.less";
// -------- 元素全局 -----------------------
// 输入框的ReadOnly效果
input[readonly] {
  background-color: rgba(200, 202, 203, 0.29);
}

// 关闭textarea的 resize
textarea {
  resize: none !important;
}

// -------- Zero框架 -----------------------
// 反色
.ux-invert {
  color: white !important;

  &:hover {
    color: @primary-color;
  }
}

// 隐藏
.ux_hidden {
  display: none;
}

// 只读
.ux_readonly {
  input[readonly] {
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }

  input[disabled] {
    background-color: @color-readonly;

    &:hover {
      cursor: not-allowed;
    }
  }

  i:hover {
    cursor: pointer;
  }
}

// 左/右
.ux-left {
  &-text {
    text-align: left;
  }
}

.ux-right {
  &-text {
    text-align: right;
  }

  &-cell {
    text-align: right;
    padding-right: 32px !important;
  }
}

// 选择
.ux-unselect {
  > .ant-tree-node-content-wrapper {

    &:hover {
      background-color: white !important;
    }

    .ant-tree-title {
      &:hover {
        background-color: white !important;
        cursor: not-allowed;
      }
    }
  }
}

.ux-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.ux-link-icon {
  i {
    margin-right: 3px;
  }
}

.ux-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}