@import (less) "../macrocosm/index.less";
@import (less) "../macross/index.less";

.ux-title {
  width: 100%;
  min-height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: white;
  margin-bottom: 3px;

  &-pure {
    padding-left: 6px;
    .ix-bg.gradient-ll(@theme-main, 100%);
  }
}

.ux-subject {
  width: 100%;
  min-height: 38px;
  line-height: 38px;
  font-size: 16px;
  margin-bottom: 6px;
  padding-left: 6px;
  .ix-bg.gradient-lr(@theme-main, 40%);

  img {
    position: absolute;
    float: left;
    width: 52px;
    height: 52px;
  }

  &-tip {
    float: left;
    margin-top: 6px;
    margin-left: 64px;
    padding-left: 16px;
    line-height: 36px;
    border-left: 8px solid @theme-main;
    border-bottom: 1px solid @theme-main;
    color: black;
    font-size: 15px;
    width: 45%;
  }

  &-sub {
    display: inline-block;
    color: #c8c8c8;
    font-size: 12px;
  }
}

.ux-comment {
  .ant-alert {
    margin-bottom: 3px;
  }
}

.ux-tips {
  line-height: 32px;
}