@import (less) "../macrocosm/index.less";

.ux_error {
  width: 98%;
  height: 100%;
  color: @color-failure;
  padding: 1%;
  margin: 10px;
  background-color: #fdf2f4;
  border: solid 1px @color-failure;
  border-radius: 5px;
  min-height: 200px;
}

.ux-purge {
  i {
    color: @color-failure !important;
  }

  .ant-modal-confirm-content {
    color: @color-failure-confirm;
  }
}