@import (less) "../macrocosm/index.less";

.ex-bpmn-node(@color, @color-bg) {
  // 激活时专用颜色
  &:not(.djs-connection) .djs-visual > :nth-child(1) {
    fill: @color-bg !important; /* color elements as green */
    stroke: @color !important;
  }

  // 文字颜色
  .djs-label {
    fill: @color !important;
  }

  // 激活专用色
  .djs-visual {
    path {
      stroke: @color !important;
      opacity: 1 !important;
      stroke-dasharray: 0;
    }
  }

  // 文件起点颜色
  &-label .djs-label {
    fill: @color !important;
  }
}

.ex-bpmn-end {
  // 节点中间内容填充成完成专用颜色
  &:not(.djs-connection) .djs-visual {
    path {
      fill: @flow-end !important;
    }
  }

  .ex-bpmn-node(@flow-end, #f6ffed);
}


.ex-bpmn-error {
  .ex-bpmn-node(@flow-error, #FFF0F5);
}

.ex-bpmn-active {
  .ex-bpmn-node(@flow-active, #f0f5ff);
}

.ex-bpmn-hover {
  // 移动专用色
  &:hover {
    cursor: pointer;
  }

  .ex-bpmn-node(@flow-selected, white);
}

.ex-bpmn-selected {
  // 移动专用色
  &:hover {
    cursor: move;
  }

  .ex-bpmn-node(@primary-color, #f0f5ff);
}

.ex-flow-menu {
  background-color: #EFF0F0;
}

.ex-flow-queue {
  .toolbar {
    height: 36px;
    margin-bottom: 2px;

    .open-button {
      border-radius: 16px;
    }

    .search {
      padding-right: 8px;
    }
  }
}