@import (less) "../macrocosm/index.less";
@import (less) "../macross/index.less";

.ux-transfer {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;

  .ant-transfer {

    &-list {
      width: 46%;
    }

    &-operation {
      min-width: 24px;
      width: 24px;
    }
  }

  .left {
    overflow: hidden;
  }

  .right {
    float: right;
  }
}

.ux-view-my {
  line-height: 32px;
  margin-top: 3px;
  margin-bottom: 3px;

  .label {
    text-align: right;
    font-weight: bold;
    padding-right: 6px;
    line-height: 36px;
  }

  .content {
    padding-left: 6px;
  }
}

.ux-table {
  .table-content {
    th, td {
      padding: 0 12px !important;
    }

    th {
      border-bottom: dotted 1px @theme-main;
    }
  }

  &-nested {
    border-collapse: collapse !important;
    border: dotted 1px @theme-main;
    .table-content;

    th, td {
      border-left: dotted 1px @theme-main;
      border-right: dotted 1px @theme-main;
    }

    &-pure {
      border-collapse: collapse !important;
      .table-content;
    }
  }
}

.ux-addon {
  &-after {
    .ant-input-group-addon {
      &:hover {
        border-color: @primary-color;
        color: white;
        background-color: @primary-color;
      }
    }
  }

  &-disabled {
    .ant-input-group-addon {
      i {
        color: @disabled-color;
      }

      &:hover {
        cursor: not-allowed;

        i:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}

.ux-confirm-op {
  .ant-popover-message {
    i {
      font-size: 18px;
      color: @color-red;
    }

    &-title {
      color: @color-red-title;
      margin-left: 8px !important;
      line-height: 2.1em !important;
    }
  }
}

.ux-menu {
  &-drop {
    i {
      font-size: 18px !important;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.ux-column-auto {
  .ix-text.overflow();
}

// 开始专用圆角按钮
.ux-circle {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
}

// 新风格处理（Qr部分）
.ux-qr {
  &-input {
    padding-left: 8px;

    .prefix {
      line-height: 32px;
      font-weight: bold;
    }

    .ant-input-search {
      width: 70%;
    }

    .ant-calendar-range-picker-input {
      background-color: white;
    }
  }
}

// X web
.ux-item {
  i {
    margin-left: 10px;
  }

  &-active {
    color: #49b1f5;
    font-weight: 900;
  }

  &:hover {
    font-weight: 900;
    cursor: pointer;
  }
}