@import '../../../global';

.ex-link {
    float: left;
    list-style: none;
    padding-left: 0;

    li {
        float: left;
        margin-right: 16px;
        list-style: none;
        line-height: 2.4em;
    }

    // 解决间距问题
    margin-bottom: 6px;
}

.ex-action-group {
    button[disabled] when (13px = @font-size-base) {
        top: 1px !important;
    }
}