@import '../../../global';

.ex-link {
    li {
        float: left;
        margin-right: 16px;
        list-style: none;
        line-height: 2.4em;
    }

    // 解决间距问题
    margin-bottom: 6px;
}

.ex-action-group {
    button[disabled] when (13px = @font-size-base) {
        top: 1px !important;
    }
}

// 1280 x 1024
@media (min-width: @screen-xl) and (max-width: @screen-xxl) {
    .ant-input-search {
        width: 72% !important;
    }
}

// > 1600
@media (min-width: @screen-xxl) {
    .ant-input-search {
        width: 80% !important;
    }
}