.uex {
  &_ExRelation {
    .r {
      &_header {
        .ant-col-6 {
          padding-top: 8px !important;
          padding-bottom: 8px !important;
          padding-left: 16px !important;
        }

        .prefix {
          font-weight: 900;
        }

        margin-bottom: 8px !important;
        border-bottom: dashed 1px #CED4D9;
      }

      &_body {
        margin-bottom: 6px;

        .row {
          padding-bottom: 3px;

          &-empty {
            color: #ff686b;
          }

          &-op {
          }

          &-batch {
            padding-top: 6px !important;
          }

          &-right {
            text-align: right !important;
          }
        }
      }

      &_table {
        min-height: 210px !important;
      }

      &_tab {
        .ant-tabs-right-content {
          padding-right: 8px !important;
        }
      }
    }
  }
}