.web-restful {
    padding-left: 12px;

    &-content {

        .restful-op {
            margin-bottom: 6px;
        }


        .ant-pagination {
            margin-top: 6px !important;
            margin-bottom: 6px !important;
        }
    }
}