.uhx {
  &_HxSite {

    .ant-row {
      margin-bottom: $uni_font * 0.5;

      .hx-col {
        &-f {
          padding-right: $uni_font * 0.2;
        }

        &-c {
          padding-left: $uni_font * 0.2;
          padding-right: $uni_font * 0.2;
        }

        &-l {
          padding-left: $uni_font * 0.2;
        }
      }

      .ant-col {
        .ant-card {
          .ant-card-body {
            padding: $uni_font * 0.5;
            overflow-y: auto;

            .ant-tree-treenode {
              height: $uni_font * 2.2;
              line-height: $uni_font * 2.2;

              .ant-tree-checkbox {
                margin-right: $uni_font * 0.2;
              }
            }
          }

          .ant-card-head {

            .hx-title {
              padding-top: $uni_font * 0.1;

              img {
                width: 45px;
                height: 45px;
              }

              span {
                font-size: $uni_font;
              }
            }
          }
        }
      }
    }
  }
}