.ox-main {
    .page-card {
        .ant-card-body {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    .page-item {
        .ant-table {
            border: none !important;
        }
    }
}