@import "../../../global";

.ux-login-form {
    .ix-border.radius(10, rgba(256, 256, 256, 0.3));
    padding: 25px 20px 100px 20px;

    .notice {
        color: white;
        text-align: left;
    }

    .title {
        .ix-font.thin(24, white);
        text-align: left;
    }

    form {
        background-color: transparent;
        padding: 10px;

        .ant-row {
            margin-bottom: 10px;
        }

        input {
            height: 40px !important;
            padding-left: 40px !important;
            background-color: transparent !important;
        }

        i {
            font-size: 16px;
        }

        .has-error .ant-form-explain {
            .error-message(@color-error);
            top: -27px;
        }
    }

    header {
        float: left;
        display: block;
        .ix-box.rect(120px, 100%);
        padding: 5px;
        margin-bottom: 20px;

        span {
            float: left;
            display: block;
            opacity: 0.8;
            .ix-font.normal(@font-size-title, @color-title-font);
            .ix-font.line(80);
            margin-top: 10px;
        }

        img {
            float: left;
            opacity: 0.8;
            .ix-box.rect(100px, 100px);
        }
    }
}
