.ex-flow-filter {
    .ant-row {
        height: 36px;
        margin-bottom: 2px;

        .title-right {
            float: right;
        }

        .title {
            font-weight: bold;
        }

        // ant design
        .ant-tag {
            font-size: 14px;
        }

        .ant-col {
            line-height: 28px;
        }

        .open-button {
            border-radius: 16px;
        }
    }
}