@import (less) "../magician/index.less";

.web {
  &-table {
    .ux_table-fit;
    background: @component-background;

    &-adjust {
      background: @component-background;
    }

    &-secondary {
      .ux_table-fit;

      .ant-table-thead {
        th {
          background-color: @primary-color !important;
          color: white;
        }
      }
    }

    &-tree {
      .ux_table-fit;
      background: @component-background;

      &-adjust {
        background: @component-background;
      }

      .ant-table-expanded-row {

        .ant-table-thead {
          th {
            background-color: @primary-color !important;
            color: white;
          }
        }

        td[colspan] {
          padding: 16px !important;
          min-height: 80px !important;
          max-height: 200px;
          overflow-y: auto;
        }
      }
    }
  }
}

// X web
.ux_table_editor_op {
  min-width: 64px !important;
}

.web-tool-tip {
  .ant-tooltip-inner {
    min-width: 420px !important;
  }
}

.web-icon-label {
  display: flex;
  text-align: center;

  i {
    margin-right: 3px;
  }
}