@import (less) "../magician/index.less";

.web {
  &-card {
    .web-card-fit;
    background: @component-background;

    .ux-extra {
      float: right;
    }

    &-form {
      .web-card-fit;
      background: @component-background;

      .ant-card-body {
        padding-top: 3px;
        padding-left: 0;
      }
    }
  }
}