@import (less) "../magician/index.less";
@import (less) "../macrocosm/index.less";

.web {
  &-form {

    .web-form-fit;
    background: @component-background;
    // For 4.0
    .ant-form-item-has-error {
      .ant-form-item-explain-error {
        .ix-form.error(@color-error);
        // Spec
        top: -27px;
        display: none;
      }
    }

    &-has-error {
      .ant-form-item-explain-error {
        display: inline-block;
      }
    }

    &-bottom {
      &-64 {
        padding-bottom: 64px;
      }

      &-32 {
        padding-bottom: 32px;
      }

      &-16 {
        padding-bottom: 16px;
      }
    }

    // v4 过后的重新设置
    .ant-row {
      width: 100%;
    }
  }
}