
.web-develop {
  .ant-drawer-body {
    padding: 8px !important;
  }

  &-page {
    .web-mark {
      button {
        margin-left: 4px;
        margin-right: 4px;
      }
    }

    .ant-tabs-left-content {
      padding-left: 8px !important;
    }
  }
}