// Pre Definition
@mod-auth-region-menu: 480px; // 权限设置 -> 菜单权限
// 1024 x 768
@media (max-width: 1024px) {
  @mod-auth-region-menu: 480px;
}

// 1280 x 1024
@media (min-width: 1025px) and (max-width: 1260px) {
  @mod-auth-region-menu: 510px;
}

// 1366 x 720
@media (min-width: 1281px) and (max-width: 1366px) {
  @mod-auth-region-menu: 480px;
}

// 1400 x 900
@media (min-width: 1367px) and (max-width: 1440px) {
  @mod-auth-region-menu: 510px;
}

// 1680 x 1050
@media (min-width: 1441px) and (max-width: 1680px) {
  @mod-auth-region-menu: 540px;
}

// 1920 x 1200, 1920 x 1080
@media (min-width: 1681px) {
  @mod-auth-region-menu: 540px;
}