.uca {
  &_MagicView {
    overflow-x: auto;
    display: inline-block;

    .ul-item-v {
      list-style: none;
      padding-left: 3px;

      li {
        line-height: 20px;
        min-height: 20px;
      }
    }

    .ul-item-h {
      list-style: none;
      padding-left: 3px;
      width: 100%;

      li {
        display: inline-block;
        float: left;
        margin-right: 12px;
      }

      li:after {
        content: ","
      }

      li:last-child:after {
        content: ""
      }
    }
  }
}