
.dx-database {

  .item {
    line-height: 28px;

    &-right {
      text-align: right;
      font-weight: bold;
    }

    &-icon {
      text-align: center;
    }
  }

  .ant-card-body {
    margin-bottom: 16px;
  }

  .ant-card-meta-description {
    text-align: left;
    height: 48px;
    text-indent: 2em;
    padding: 0 12px;
  }

  .__running {
    img {
      display: inline-block;
      width: 84px;
      height: 84px;
    }
  }

  .__running-status {
    .item-status {
      color: #33af43;
    }
  }

  .__running-value {
    .item-value {
      text-align: left;
    }
  }

  .running {
    padding: 6px;
    text-align: center;


    .ant-card {
      min-height: 180px;
    }

    .ant-card-cover {
      padding: 16px;
      text-align: left;
      height: 136px;
    }

    .__running;
    .__running-status;
    .__running-value;

    &-form {
      padding: 6px;
      text-align: center;

      .__running;
      .__running-status;
      .__running-value;

      .ant-card {
        min-height: 180px;
      }

      .ant-card-cover {
        padding: 16px;
        text-align: left;
        height: 110px;
      }

      .ant-card-meta-title {
        margin-bottom: 16px;
      }
    }
  }

  .disabled {
    padding: 6px;
    text-align: center;

    .ant-card {
      min-height: 180px;
    }

    .ant-card-cover {
      padding: 12px;
      text-align: left;
      height: 136px;
    }

    .item-status {
      color: #CD2626;
    }

    img {
      display: inline-block;
      width: 100px;
      height: 100px;
    }

    .anticon {
      color: #C7C7C7;

      &:hover {
        color: #C7C7C7;
        cursor: not-allowed;
      }
    }
  }
}