@import '../../../global';

.ops-logged {
    padding-right: 12px;

    &-dropdown {
        background-color: rgba(0, 0, 0, 0.6);

        .ant-dropdown-menu-item {
            color: white;

            a {
                color: white;
            }
        }

        &:hover {
            .ant-dropdown-menu-item:hover {
                color: @theme-menu-item;
                background-color: rgba(255, 255, 255, 0.9);

                a {
                    color: @theme-menu-item;
                }
            }
        }

    }

    &-menu:hover {
        cursor: pointer;
    }

    &-name {
        color: white !important;
        margin-left: 8px;
    }
}